*-spawn.exe
DtaverWriter.exe
/package/ddraw.dll
/package/ddraw.ini
Client/*
Debug/*
/package/Maps/Custom/*.zip
/package/Maps/Custom/*.map
/package/Maps/Custom/*.png
version_u
.DS_Store
CnCNet5_RA_Installer.exe
*.idea/
VersionWriter-CopiedFiles/
MainMenuTheme.bak

VersionWriter.exe
version


/package/spawn.ini
/package/spawnmap.ini
/package/stats.dmp
/InnoSetup/output
/gitversion.json
/logs
/package/Client
/package/REDALERT.ini
